@{
    ViewData["Title"] = "Student List";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}

@model IEnumerable<Student>

<h2>Danh sách sinh viên</h2>

<div class="row mb-3">

    <!-- COMBOBOX LỌC NGÀNH -->
    <div class="col-md-3">
        <select id="branchFilter" class="form-select">
            <option value="">-- Tất cả ngành --</option>
            @foreach (var b in ViewBag.Branches)
            {
                <option value="@b.Value">@b.Text</option>
            }
        </select>
    </div>

    <!-- Ô TÌM KIẾM -->
    <div class="col-md-4">
        <input id="keywordSearch" type="text" class="form-control" placeholder="Tìm theo tên..." />
    </div>

    <div class="col-md-2">
        <button id="btnSearch" class="btn btn-primary">Tìm kiếm</button>
    </div>

    <div class="col-md-3 text-end">
        <a asp-action="Create" asp-controller="Student" class="btn btn-success">
            + Tạo sinh viên
        </a>
    </div>
</div>

<!-- NỘI DUNG AJAX -->
<div id="divContent">
    @await Html.PartialAsync("StudentTable", Model)
</div>

@section Scripts {
    <script>

        // PHÂN TRANG
        $('body').on('click', '.page-item', function () {
            let page = $(this).attr('page');
            let keyword = $('#keywordSearch').val();
            let branch = $('#branchFilter').val();

            $.ajax({
                url: '/Student/StudentFilter',
                data: { keyword: keyword, branch: branch, pageIndex: page },
                success: function (res) {
                    $('#divContent').html(res);
                }
            });
        });

        // LỌC NGÀNH
        $('#branchFilter').change(function () {
            let branch = $(this).val();

            $.ajax({
                url: '/Student/StudentFilter',
                data: { branch: branch },
                success: function (res) {
                    $('#divContent').html(res);
                }
            });
        });

        // TÌM KIẾM
        $('#btnSearch').click(function () {
            let keyword = $('#keywordSearch').val();

            $.ajax({
                url: '/Student/StudentFilter',
                data: { keyword: keyword },
                success: function (res) {
                    $('#divContent').html(res);
                }
            });
        });

    </script>
}
